<section class="heroSection">
  <div class="inner">
    <div class="img">
      <img
        src="/assets/images/illustration-working.svg"
        alt="vector graphic of person on computer"
      />
    </div>

    <div class="text">
      <h1>More than just shorter links</h1>
      <p>
        Build your brand's recognition and get detailed insights on how your
        links are performing
      </p>
      <app-round-button [label]="'Get Started'"></app-round-button>
    </div>
  </div>
</section>
